
<header><h1>VIRTUAL RESTAURANT</h1></header>

<main>
  
  <div class="order-form">
    <h2>Enter Order Here</h2>
    <form class="create-form">
      <div class="form-group">

        {{!-- Input new order  --}}
        <label for="new-order">Order Name:</label>
        <input placeholder="order name" type="text" id="new-order" name="order-name" />

        <div class="new-customer-form">
          {{!-- Input new customer name --}}
          <label for="customer-name">Customer Name:</label>
          <input placeholder="new customer" type="text" id="customer-name" name="customer-name" />
          {{!-- Existing customer checkbox --}}
          <input type="checkbox" name="existing-customer-box" value="existing" />
          <label for="existing-customer-box">Already a Customer?</label>
        </div>

        <div class="existing-customer-form">
          {{!-- Pick existing customer from dropdown --}}
          <label for="existing-customer">Select Customer:</label>
          <select id="existing-customer" name="existing-customer">
            <option value='' table=''>Select Customer</option>
            {{#each tables}}
              {{#each Customers}}
                {{#unless dataValues.leftTable}}
                  <option value={{dataValues.id}} table={{dataValues.TableId}}>{{dataValues.name}}</option>
                {{/unless}}
              {{/each}}
            {{/each}}
          </select>
          {{!-- New customer checkbox --}}
          <input type="checkbox" name="new-customer-box" value="new" />
          <label for="new-customer-box">New Customer?</label>
        </div>

        {{!-- Select a table  --}}
        <div id="table-select-div">
          <label for="table-select">Choose a Table:</label>
          <select id="table-select">
            <option value="" name="table-select">Choose</option>
            <option value="1">Table 1</option>
            <option value="2">Table 2</option>
            <option value="3">Table 3</option>
            <option value="4">Table 4</option>
          </select>
        </div>

      </div>
      <button type="submit">SUBMIT ORDER</button>
    </form>
  </div>

  <div class="area">

    <div class="display">

      {{#each tables}}
        {{> tables/table-block}}
      {{/each}}

    </div>

    <div>
      <h2>Previous Guests</h2>
      <ul>
        {{#each tables}}
          {{#each Customers}}
            {{#if dataValues.leftTable}}
              <li>{{dataValues.name}}</li>
            {{/if}}
          {{/each}}
        {{/each}}
      </ul>
    </div>

  </div>

</main>

<footer>
  <p>VIRTUAL RESTAURANT</p>
</footer>


