header,
footer {
  text-align: center;
  background-color: #2ab1b1;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

header h1,
footer p {
  padding: 20px;
}

h2 {
  color: #31bfbf;
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
}

main {
  display: grid;
  grid-gap: 10px;
  text-align: center;
  background-image: url(/assets/images/order-desk-unsplash.jpg);
  background-size: 100%;
  min-height: 450px;
  background-repeat: no-repeat;
}

.display {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.display>div {
  padding: 20px;
  margin-top: 20px;
  background: #fffffff0;
  height: fit-content;
}

.order {
  height: fit-content;
  width: fit-content;
  padding: 20px;
  margin-top: 20px;
  background: #fffffff0;
  justify-self: center;
}

.form-group {
  margin-bottom: 10px;
}

.create-form>button {
  width: 100%;
  padding: 8px;
  letter-spacing: 1px;
}

li {
  display: grid;
  grid-template-columns: 4fr 1fr;
  border: 1px #1c9c9c solid;
  margin-top: 5px;
  background-color: #ffffffe3;
}

li,
label {
  color: #403a3a;
  font-family: 'Muli', sans-serif;
}

button {
  background-color: #f26a12;
  color: #ffffff;
  padding: 3px 10px;
}

.paid {
  border: 1px #8c8989 solid;
  color: #8c8989;
}

button:disabled {
  background-color: #f26a12cf;
}

h4 {
  padding: 3px;
}

@media screen and (max-width:600px){
  .display {
    grid-template-columns: 1fr;
  }
}